<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ntcss_2.css">
</head>
<body>
    <section>
        <div class="img">
            <img src="../Asset/media/alternative_Image.jpg" width="1387px" height="500px" >
        </div>
        <div class="title"> 
            <h1> NorCal Time Trial Series</h1>
        </div>
    </section>
        <nav>
            <ul>  
                    <li>   <a href="../view/Home.html"> Home</a> </li>
                    <li>   <a href="../view/About.html"> About</a> </li>
                    <li>   <a href="../view/contact.html">Contact</a> </li>
            </ul>
        </nav>
        <div class="events">
            <H1>About NCTTS</H1>
        </div>
        <div class="logo">
            <img src="../Asset/media/LOGO.png" width="150px" height="150px">
        </div>
        <div class="nsns">
            <h1>Mission</h1>
            <p>To quote https://24hoursoflemons.com/: </br>  
            “Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”</p>
       
            <h1>Vision</h1>
            <p>The NorCal Time Trial Series aspires to make the excitement of competitive racing events on iconic Northern California racetracks available to all enthusiasts without the costs or risks of wheel-to-wheel racing</p>
       
            <h1>General Information</h1>
            <p>The NorCal Time Trial Series will hold at least one event per month on a track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech Raceway at Laguna Seca. Full safety equipment is required, and your car must pass technical inspection before you can compete.</p>
        </div>

</body>
</html>